[Desktop Entry]
Name=remote-cp-compute
#Icon=/home/caros/Picture/112.png
Exec=/home/caros/integration/remote-cp-compute.exp
Type=Application
Terminal=true
StartupNotify=false
