[Desktop Entry]
Name=check-net
#Icon=/home/caros/Picture/112.png
Exec=/home/caros/Desktop/remote-check/check.sh
Type=Application
Terminal=true
StartupNotify=false
